/*.full-height {
    height: 100vh;
}*/
.menu-divider {
	color: #8b8b8b;
}
.postdate {
	text-transform: uppercase;
}
.blog-classic .date {
	width: 70px;
	height: 70px;
	padding-top: 0;
}
.blog-classic {
	padding-bottom: 35px;
}
.g-recaptcha div{
  margin: 20px auto!important;
  padding: 0!important;
  /*width: 100%!important;*/
 }
.g-recaptcha .rc-anchor-normal .rc-anchor-checkbox-label {
	width: 102px!important;
}
.menuzord-menu > li > a {
	font-size: 12px;
}
.widget {
    width: 98%;
}
.widget-tags {
	height: 100%!important;
}
.widget-tags a:hover {
	color: #fff!important;
}
.widget-latest-post .thumb {
	height: 55px!important;
	width: auto!important;
}
.post-page {
	margin-bottom: 20px!important;
}
.comments-form-control {
	font-size: 15px!important;
	color: #777!important;
}
.ui.comments .comment .text {
	color: #7e7e7e!important;
}
.author {
	color: #333!important;
	opacity: .87!important;
}
.actions {
	padding-bottom: 5px!important;
}
.dark-link {
	color: #333!important;
	text-transform: uppercase!important;
	font-size: 13px!important;
}
.dark-link:hover {
	color: #d6b161!important;
}
.ya-share2__container {
	position: relative!important;
	margin: 0 auto!important;
	/*margin-left: 40px!important;*/
}
.ya-share2__popup {
	position: absolute!important;
	right: -37px!important;
}
.avatar {
	width: 3.2em!important;
}
.ui.comments .comment > .avatar ~ .content {
	margin-left: 4.2em!important;
}
.logo-wrap {
	position: relative;
}
.logo-sign {
	position: absolute;
	left: 55px;
	top: 35px;
	color: #fff;
}
.hljs {
	width: 1000px;
	font-size: 15.2px;
	max-height: 500px;
}

div.cart_result {
  font-family: Raleway, Helvetica , sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ff6666;
  border: 2px solid #ff6666;
  position: absolute;
  bottom: -5%;
  right: 25%;
  margin-right: -50%;
  transform: translate(-50%, -50%); 
  width: 60%;
  height: 8em;
  display: none;
  align-items: center;
  justify-content: center 
}
div.cart_result p {
  margin: 0
}

.logo-sign {
	text-transform: none;
}
.login-bg {
	height: 100rem;
}
.login-logo{
	padding: 10px;
}

.flex-container {
	display: flex;
	/*flex-flow: row wrap;*/
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

.flex-element {
	order: 0;
	flex-grow: 0;
	flex-shrink:1;
	flex-basis: auto;
	align-self: auto;
}
.video-iframe {
    width: 100%;
    height: 40rem;
    /*height: 315px;*/ 
}
.chatblock {
    margin: 10% 0;
}
.ipcalcblock {
    margin: 14% 0;
    padding: 0;
}
.ipcalcblock h3 {
    text-transform: uppercase;
    text-align: center;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-deck .card {
  margin-bottom: 15px;
}
.modal-title {
   color: #FF5E5E;
}
.modal-body {
    background: #FFF2DF;
}
/**/
  /**/

@media screen and (max-width: 768px) {
	.xs-m-top {
		margin-top: 30px;
	}
	.logo-sign {
		left: 45px;
		top: 27px;
	}
	.small_scr {
		margin-top: 25px;
	}
	.login-bg{
		height: 50rem;
	}
	.login-logo{
		visibility: hidden;
		padding: 0;
	}

}

@media screen and (max-width: 480px) {
	.xs-m-top {
		margin-top: 60px;
	}
}